<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="/stylesheets/admin/sidebar.css" rel="stylesheet">
    <link href="/stylesheets/admin/header.css" rel="stylesheet">
    <link href="/stylesheets/admin/main.css" rel="stylesheet">
    <link href="/stylesheets/admin/pages/<%=page%>.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <title>
        <%= locals.title %>
    </title>
</head>

<body>
    <div class="">
        <div class="sidebar">
            <%- include('./partials/sidebar')-%>
        </div>
        <div class="body" style="margin-left: 12vw; width: 82vw;">
            
            <%- include('./partials/header')-%>

            <%- include('../message.ejs')-%>
                <%- include('./' + page)-%>
        </div>
    </div>

</body>



</html>